:root {
    font-family: "Comic Relief";
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;
    color: black;
    background-color: #f0f0f0;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    scrollbar-color: #000 rgba(0, 0, 0, 0);
    display: grid;
    grid-template: 100svh / 100svw;
    text-align: center;
    margin: 0;
    overflow: hidden;

    >* {
        grid-area: 1 / 1 / 1 / 1;
    }
}

.card {
    padding: 2em;
}

.element {
    display: flex;
    align-items: center;
    image-rendering: pixelated;
    gap: 15px;

    list-style-type: none;
    margin-inline: 10px;
    padding-block: 10px;

    &:not(:last-child) {
        border-bottom: 2px #c0c0c0 solid;
    }

    >span.info {
        min-width: 0;
        flex-grow: 1;

        >h1 {
            font-weight: bold;
            margin: 0px;

            margin-bottom: 2px;
            padding-bottom: 3px;

            text-align: left;
            font-size: 1em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        >p {
            color: #484848;
            margin: 0px;
            text-align: left;
            font-size: 0.75em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    >img {
        width: 96px;
        height: 96px;
        cursor: grab;

        user-select: none;
        touch-action: none;
        /* IMPORTANT for mobile */
    }

    &.disabled {
        >span.info>* {
            color: #686868;
        }

        >img {
            filter: saturate(0.3) contrast(0.5) brightness(1.4);
        }
    }

    >span.icon {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: start;

        >img {
            height: 32px;
            margin-left: auto;
        }
    }
}

input,
button {
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.6em 0.8em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}
