:root {
    font-family: "Comic Relief";
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;
    color: black;
    background-color: #f0f0f0;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    scrollbar-color: #000 rgba(0, 0, 0, 0);
    display: grid;
    grid-template: 100dvh / 100dvw;
    text-align: center;
    margin: 0;
    overflow: hidden;

    > * {
        grid-area: 1 / 1 / 1 / 1;
    }
}

.card {
    padding: 2em;
}

input,
button {
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.6em 0.8em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}
